PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/
MONGO_DB_NAME=teamflow
JWT_SECRET=teamflow_super_secret_change_me
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=teamflow.workspace@gmail.com
SMTP_PASS=djfugvzrnrmfldvw
SMTP_FROM="TeamFlow <teamflow.workspace@gmail.com>"
